{% extends 'base.html.twig' %}

{% block title %}Labels index{% endblock %}

{% block body %}
    <h1>Labels index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LocalLabel</th>
                <th>LocationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for label in labels %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.localLabel }}</td>
                <td>{{ label.LocationDate ? label.LocationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('labels_show', {'id': label.id}) }}">show</a>
                    <a href="{{ path('labels_edit', {'id': label.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('labels_new') }}">Create new</a>
{% endblock %}
