{% extends 'base.html.twig' %}

{% block title %}Labels{% endblock %}

{% block body %}
    <h1>Labels</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ label.id }}</td>
            </tr>
            <tr>
                <th>LocalLabel</th>
                <td>{{ label.localLabel }}</td>
            </tr>
            <tr>
                <th>LocationDate</th>
                <td>{{ label.LocationDate ? label.LocationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('labels_index') }}">back to list</a>

    <a href="{{ path('labels_edit', {'id': label.id}) }}">edit</a>

    {{ include('labels/_delete_form.html.twig') }}
{% endblock %}
