{% extends 'base.html.twig' %}

{% block title %}DetailOrderType index{% endblock %}

{% block body %}
    <h1>DetailOrderType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail_order_type in detail_order_types %}
            <tr>
                <td>{{ detail_order_type.id }}</td>
                <td>{{ detail_order_type.Name }}</td>
                <td>
                    <a href="{{ path('detail_order_type_show', {'id': detail_order_type.id}) }}">show</a>
                    <a href="{{ path('detail_order_type_edit', {'id': detail_order_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('detail_order_type_new') }}">Create new</a>
{% endblock %}
