<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %}Title{% endif %} | VIRWrm
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>

    <body>
    {% block nav %}
        {% include "nav.html.twig" %}
    {% endblock %}

    <div class="container-fluid">
        {% if app.session is not null and app.session.started %}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block body %}{% endblock %}

        {% if is_granted("ROLE_USER") %}
            <H1>Compte USER OK</H1>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
            <H1>Compte ADMIN OK</H1>
        {% endif %}



    </div>

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
