<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            VIR |
            {% block title %}
                 {% if title is defined %} {{title}}{% else %}Gestion de parc{% endif %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="/build/favicon.ico">
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}

    </head>

    <body>
    {% block nav %}
        {% include "nav.html.twig" %}
    {% endblock %}

    <div class="container-fluid">
        {% if app.session is not null and app.session.started %}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block body %}{% endblock %}

    </div>



    {{ encore_entry_script_tags('app') }}

    {% block javascripts %}{% endblock %}
    </body>
</html>
