{% extends 'base.html.twig' %}

{% block title %}Vue du parc{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="">Etat du parc </h1>
    <a class="btn btn-lg btn-outline-success" href="{{ path('orders_new') }}"><span class="fa fa-plus-circle" aria-hidden="true"></span> Ajouter une nouvelle entrée</a>
</div>
    <div class="row">
        <div class="col-12">
            <div class="pagination align-content-center">
                {{ knp_pagination_render(orders) }}
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped ">
            <thead>
            <tr class="text-center">
                <th>{{ knp_pagination_sortable(sortable, 'Numéro de commande', 'ordering_number') }}</th>
                <th>{{ knp_pagination_sortable(sortable, 'Numéro Vir', 'virLocalNumber') }}</th>
                <th>{{ knp_pagination_sortable(sortable, 'Nom destinataire', 'customerName') }}</th>
                <th  class="d-none d-lg-table-cell">{{ knp_pagination_sortable(sortable, 'Date d\'entrée', 'dateEntry') }}</th>
                <th  class="d-none d-md-table-cell">{{ knp_pagination_sortable(sortable, 'Date de livraison', 'delivryDate') }}</th>
                <th  class="d-none d-sm-table-cell">Nombre de support</th>
            {#    <th>{{ knp_pagination_sortable(sortable, 'Statut commande', 'orderStatus') }}</th> #}
                {% if is_granted("ROLE_ADMIN") %}
                    {#  <th  class="d-none d-md-table-cell">Editer</th>#}
                <th  class="d-none d-md-table-cell">Supprimer</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr class="text-center">
                    <td><a  class="btn btn-block btn-dark" href="{{ path('orders_show', {'id': order.id}) }}"><span class="fa fa-search" aria-hidden="true"></span> {{ order.OrderingNumber }}</a></td>
                    <td>{{ order.VirLocalNumber }}</td>
                    <td>{{ order.CustomerName }}</td>
                    <td  class="d-none d-lg-table-cell">{{ order.DateEntry ? order.DateEntry|date('d/m/Y H:i') : '' }}</td>
                    <td  class="d-none d-md-table-cell">{{ order.DelivryDate ? order.DelivryDate|date('d/m/Y') : '' }}</td>
                    <td  class="d-none d-sm-table-cell">{{ order.labels }}</td>
           {#          <td>{{ order.orderStatus }}</td> #}
                    {% if is_granted("ROLE_ADMIN") %}
{#    <td  class="d-none d-md-table-cell"><a class="btn btn-info" href="{{ path('orders_edit', {'id': order.id}) }}"><span class="fa fa-edit" aria-hidden="true"></span></a></td>#}
  <td  class="d-none d-md-table-cell">{{ include('orders/_delete_form.html.twig') }}</td>
  {% endif %}
</tr>
{% else %}
<tr>
  <td colspan="8">Aucun enregistrement trouvé</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

<div class="row">
<div class="col-12">
<div class="pagination align-content-center">
{{ knp_pagination_render(orders) }}
</div>
</div>
</div>

{% endblock %}
