{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h1>Orders</h1>

    <div>
        <link rel="alternate" media="print" href="{{ path('orders_labels', { 'id': order.id  }) }}">
        <script type="text/javascript">

            function print(){
                window.frames[0].print();
            }
        </script>
    </div>

    <h3  class="panel-title">Informations colis
        <button type="button" class="btn btn-primary btn-xs" name="button"  onClick="print()">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimer les supports
        </button>
    </h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>OrderingNumber</th>
                <td>{{ order.OrderingNumber }}</td>
            </tr>
            <tr>
                <th>VirLocalNumber</th>
                <td>{{ order.VirLocalNumber }}</td>
            </tr>
            <tr>
                <th>CustomerName</th>
                <td>{{ order.CustomerName }}</td>
            </tr>
            <tr>
                <th>DateEntry</th>
                <td>{{ order.DateEntry ? order.DateEntry|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DelivryDate</th>
                <td>{{ order.DelivryDate ? order.DelivryDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <iframe height="0px" src="{{ path('orders_labels', { 'id': order.id }) }}" style="visibility: hidden"></iframe>

    <a href="{{ path('orders_index') }}">back to list</a>

    <a href="{{ path('orders_edit', {'id': order.id}) }}">edit</a>



    {{ include('orders/_delete_form.html.twig') }}
{% endblock %}
