{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<link rel="alternate" media="print" href="{{ path('orders_labels', { 'id': order.id  }) }}">
<script type="text/javascript">

    function print(){
        window.frames[0].print();
    }
</script>
<div class="jumbotron">
    <h1>Détail de la commande</h1>
    <button type="button" class="btn btn-outline-success btn-lg" name="button"  onClick="print()">
        <span class="fa fa-print" aria-hidden="true"></span> {% if order.labels == 1%} Imprimer le support {% else %}Imprimer les {{ order.labels }} supports {% endif %}
    </button>
</div>

<div class="row">
    <div class="col-12 col-md-12">
       <div class="card bg-default">
           <h5 class="card-header">

               <div class="row">
                   <div class="col-10 col-md-11">
                       <a class="btn btn-dark btn-sm" href="{{ path('orders_index') }}"><span class="fa fa-arrow-left" aria-hidden="true"></span></a> Détail de la commande

                   </div>
                   <div class="col-2 col-md-1">
                      <div class="row align-items-end">
                       {#   <a class="btn btn-info" href="{{ path('orders_edit', {'id': order.id}) }}"><span class="fa fa-edit" aria-hidden="true"></span></a>#}
                          {{ include('orders/_delete_form.html.twig') }}
                      </div>
                   </div>
               </div>
           </h5>

           <div class="card-body">
               <table class="table table-striped text-center">
                   <thead class="table-dark ">
                   <tr>
                       <th>Numéro de commande</th>
                       <th>Numéro Local</th>
                       <th  class="d-none d-sm-table-cell">Nom du destinataire</th>
                       <th  class="d-none d-md-table-cell">Date d'entrée</th>
                       <th>Date de livraison</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr>
                       <td>{{ order.OrderingNumber }}</td>
                       <td>{{ order.VirLocalNumber }}</td>
                       <td  class="d-none d-sm-table-cell">{{ order.CustomerName }}</td>
                       <td  class="d-none d-md-table-cell">{{ order.DateEntry ? order.DateEntry|date('d/m/Y à H:i:s') : '' }}</td>
                       <td>{{ order.DelivryDate ? order.DelivryDate|date('d/m/Y') : '' }}</td>
                   </tr>
                   </tbody>
               </table>
           </div>
       </div>
    </div>
</div>
    <div class="row">
        <br>
    </div>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8">
                <div class="card bg-default">
                    <h5 class="card-header">
                        Liste des supports et des emplacements
                    </h5>
                    <div class="card-body">
                        <table class="table table-striped text-center">
                            <thead class="table-dark ">
                            <tr>
                                <th>Supports</th>
                                <th>Localisation</th>
                                <th>Mise en place</th>
                                <th  class="d-none d-sm-table-cell">Cariste</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for label in labels %}
                                <tr>
                                    <td>{{ label.localLabel }}/{{ order.labels }}</td>
                                    <td>{%  if label.location.location is defined and label.location.location is not null %}{{ label.location.location | rack }}{% else %} En attente{% endif %}</td>
                                    <td>{% if label.locationDate is not null %}{{ label.locationDate | date('d/m/Y à H:i:s') }}{% else %} En attente{% endif %}</td>
                                    <td  class="d-none d-sm-table-cell">{%  if label.login is not null %}{{  label.login }}{% endif %}</td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md12 col-lg-4">
                <div class="card bg-default">
                    <h5 class="card-header">
                        Liste des produits
                    </h5>
                    <div class="card-body">
                        <table class="table table-striped text-center">
                            <thead class="table-dark ">
                            <tr>
                                <th>Produit</th>
                                <th>Type de produit</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%  for product in products %}
                                <tr>
                                    <td>{{ product.productNumber }}</td>
                                    <td>{{ product.familyProduct.name }}</td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a class="btn btn-dark btn-sm" href="{{ path('orders_index') }}"><span class="fa fa-arrow-left" aria-hidden="true"></span></a>
    </div>
</div>





    <iframe height="0px" src="{{ path('orders_labels', { 'id': order.id }) }}" style="visibility: hidden"></iframe>
{% endblock %}
